body {
    background-color: black;
    color: white;
}

h1 {
    color: orange;
}

.header {
    padding: 10px;
    text-align: center;
    background: darkblue;
    color: white;
    font-size: 50px;
}

.menu-button {
    color: orange;
    background-color: darkblue;
}

input[type=search] {
    /*background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;*/
    border: solid 1px #ccc;
    width: 100px;  /* width of search control when it doesn't have focus*/
}

input[type=search]:focus {
    width: 300px;
    background-color: #ccc;
    border-color: #333;
    border: solid 1px #fff;
}

/*.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}*/

.navbar-toggle {
    z-index: 3;
}

.navbar-custom {
    background-color: darkblue;
    padding: 0 0;
}

.card {
    background-color: black;
}

.header {
    font-family: 'Special Elite', cursive;
    font-size: 3.5rem;
    padding-top: 20px;
    padding-bottom: 0;
    color: orange;
}

.table {
    color: orange;
}

.table th {
    border-color: blue;
    border-top: blue;
}

.table thead th {
    border-color: blue;
    border-top: blue;
}

.table tr {
    border-color: blue;
}

.table td {
    border-color: blue;
}

.gt-style {
    color: orange;
    background-color: black;
    border-color: black;
}

.gt-style-hilite {
    color: orange;
    background-color: darkgray;
    border-color: black;
}

.gt-style-text-field {
    background-color: lightblue;
}