@model UserCreateViewModel
@{
    ViewData["Title"] = "User Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Create</h1>

<form asp-controller="User" asp-action="Create" method="post">

    <div class="col-sm-10">
        <label asp-for="User.UserName"></label>
        <input asp-for="User.UserName" />
    </div>
    <div class="col-sm-10">
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" />
    </div>

    <div class="col-sm-10">
        <label asp-for="User.FirstName"></label>
        <input asp-for="User.FirstName" />
    </div>

    <div class="col-sm-10">
        <label asp-for="User.LastName"></label>
        <input asp-for="User.LastName" />
    </div>

    <div class="col-sm-10">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" />
        @Html.DisplayFor(model => model.User.Email)
    </div>

    <button asp-route="Create">Save</button>

</form>
