@using Microsoft.AspNetCore.Authentication
@using GigTracker.Entities
@model IEnumerable<User>

@foreach (var user in Model) {
    <div>
        <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">Details</a>
        User Name: @user.UserName
        Email: @user.Email
    </div>
}