@using Microsoft.AspNetCore.Authentication
@using GigTracker.Entities
@model IEnumerable<User>

@foreach (var u in Model) {
    <div>
        <h3>User Name: @u.UserName</h3>
        <h4>Email: @u.Email</h4>
    </div>
}