<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Gig Tracker</title>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")" type="text/javascript"></script>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.css" />

</head>
    <body>
        @RenderBody()
    </body>
</html>