<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Gig Tracker</title>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")" type="text/javascript"></script>
    @*<link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.css" />*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    @*<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>*@
    <link rel="stylesheet" href="~/css/GigTrackerMaster.css" />
</head>
    <body>
        <div>
            <div class="header">
                <h1> Gig Tracker</h1>
                @*<p>My supercool header</p>*@
            </div>
        </div>
        @RenderBody()
    </body>
</html>