<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Gig Tracker</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/GigTrackerMaster.css" />

    <script src="@Url.Content("~/lib/jquery/jquery.js")" asp-append-version="true"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")" asp-append-version="true"></script>


</head>
<body>
    <div>
        <div class="header">
            Gig Tracker
            @*<p>My supercool header</p>*@
        </div>
    </div>
    @RenderBody()

    @*--- Start generic error message code*@
    @*NOTE: public string ErrorMsg { get; set; } must be in all models*@ 
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div id="modalErrorTxt" name="modalErrorTxt" class="modal-body">
                    @Model?.ErrorMsg ?? ""; @*sometimes Model is null. Not sure why*@
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    @*--- End generic error message code*@
</body>
</html>

<script>
    $(document).ready(function () {
        //alert("_Layout");


        // --- Start generic error message code
        // $(document).ready can be implemented multiple times and WORKS!!!
        @* NOTE: public string ErrorMsg { get; set; } must be in all models *@ 
        if ('@Model?.ErrorMsg' != "") {
            $("#myModal").modal({ "backdrop": "static" });  // opens modal that is actually modal
            //$('#myModal').modal('show');                  // not actually modal
        };

        // --- End generic error message code

    });
</script>