@using GigTracker.Entities;
@using Microsoft.AspNetCore.Http
@using GigTracker.Views.Home
@model HomeIndexViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <input asp-for="userId" />
    <input asp-for="userRole" />

    <nav class="navbar navbar-expand-md navbar-custom">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-default menu-button">Login</a>
                </li>
                @if (Model.userRole == "Admin" || Model.userRole == "User") {
                    <li class="nav-item">
                        <a asp-controller="Gig" asp-action="List" class="btn btn-default menu-button">Gigs</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="Profile" asp-route-id=@Model.userId class="btn btn-default menu-button">Profile</a>
                    </li>
                }
                @if (Model.userRole == "Admin") {
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="List" class="btn btn-default menu-button">Users</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <input asp-for="ArtistSearch" name="searchArtist" id="searchArtist" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </li>
            </ul>
        </div>
    </nav>

    <partial name="_GigList" for="Gigs" />
</body>
</html>

<script>
    $(document).ready(function () {

    });

    $('#searchArtist').on('keypress', function (e) {
        if (e.which === 13) {

            //Disable textbox to prevent multiple submit
            $(this).attr("disabled", "disabled");

            //Do Stuff, submit, etc..
            var artistquery = $(this).val();

            $.get("", { artistQuery: artistquery, page: 1 }, function (result) {
                $("body").html(result);
            });

            //Enable the textbox again if needed.
            $(this).removeAttr("disabled");
        }
    });
</script>
