@model HomeIndexViewModel
@using Microsoft.AspNetCore.Authentication
@using GigTracker.Entities;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <input asp-for="userId" />
    <input asp-for="userRole" />

    <h1>Gig Tracker</h1>
    @if (Model.userRole == "Admin") {
        <a href="/User/List" class="btn btn-default">Users</a>
    }
    <a href="/Account/Login" class="btn btn-default">Login</a>
    <a href="/Gig/List" class="btn btn-default">Gigs</a>

    <p>
        User Id:@HttpContextAccessor.HttpContext.Session.GetString("UserId")
    </p>

</body>
</html>

<script>
    $(document).ready(function () {

        @*$("#users").click(function () {
            //$("form").attr("action", "/User/List");
            var i = 0;
            i++;
        });

        $("#gigs").click(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("List", "Gig")",
                //data: {number1: val1, number2: val2},
                //dataType: "json",
                //success: function (data) {
                //    //console.log(msg);
                //    window.location.href = data.redirecturl;
                //},
                //error: function (req, status, error) {
                //    alert(error);
                //}
            });
        });*@

    });
</script>
