@using GigTracker.Entities;
@using Microsoft.AspNetCore.Http
@using GigTracker.Views.Home
@model HomeIndexViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <input asp-for="NavbarModel.CurrentUserId" />
    @*<input asp-for="NavbarModel.CurrentUserRole" />*@

    <partial name="_Navbar" for="NavbarModel" />

    <partial name="_GigList" for="Gigs" />

</body>
</html>

<script>
    $(document).ready(function () {
    });

    $('#searchArtist').on('keypress', function (e) {
        if (e.which === 13) { // return key

            //Disable textbox to prevent multiple submit
            $(this).attr("disabled", "disabled");

            //Do Stuff, submit, etc..
            var artistquery = $(this).val();

            $.get("", { artistQuery: artistquery, newQuery: true }, function (result) {
                $("body").html(result);
            });

            //Enable the textbox again if needed.
            $(this).removeAttr("disabled");
        }
    });

</script>
