@using GigTracker.Entities
@model GigListViewModel
@{
    ViewData["Title"] = "Gig ListAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model.User?.Role == Role.Admin) {
    <a asp-controller="Gig" asp-action="Create" class="btn btn-default menu-button">New gig</a>

    @*<a asp-controller="Gig" asp-action="Create">New Gig</a>*@
}

<h4>Gig List</h4>

@foreach (var gig in Model.Gigs) {
    <div>

        <a asp-controller="Gig" asp-action="Details" asp-route-id="@gig.Id">Details</a>
        @gig.VenueName
        @gig.Date
    </div>
}
