@using GigTracker.Entities
@model GigListViewModel
@{
    ViewData["Title"] = "Gig ListAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<a asp-controller="Gig" asp-action="Create" class="btn btn-default menu-button">New gig</a>


<h4>Gig List</h4>

<partial name="_GigList" for="Gigs" />
