@using GigTracker.Entities
@model GigListViewModel
@{
    ViewData["Title"] = "Gig ListAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_GigListNavbar" for="NavbarModel" />



<h1>@(Model.NavbarModel.CurrentUser?.FirstName + " " + Model.NavbarModel.CurrentUser?.LastName + "\'s Gigs")</h1>
<a asp-controller="Gig" asp-action="Create" class="btn btn-default menu-button" style="float: right;">New gig</a>


<partial name="_UserGigList" for="Gigs" />
