@using GigTracker.Entities
@model IEnumerable<Gig>


    <h4>Gig List</h4>

    <a asp-controller="Gig" asp-action="Create">New Gig</a>

@foreach (var u in Model) {
    <div>
        Venue: @u.VenueName
        Date: @u.Date
    </div>
}
